<div class="community-header">
	{{>Header__logo}}
	<div class="community-header__top-container">
		{{>Wordmark}}
		<div class="page-counter"></div>
		{{#data-page-tools}}{{>PageTools}}{{/data-page-tools}}
	</div>
</div>