<section id="{{id}}" class="citizen-main-menu citizen-drawer__menu">
	{{#data-portlets-first}}{{>NavbarItem}}{{/data-portlets-first}}
	{{#array-portlets-rest}}{{>NavbarItem}}{{/array-portlets-rest}}
	{{^is-language-in-content}}
	{{#data-languages}}{{>Menu}}{{/data-languages}}
	{{/is-language-in-content}}
</div>