<div class="citizen-sticky-header-container">
	<div id="citizen-sticky-header" class="citizen-sticky-header">
		<div class="citizen-sticky-header-background"></div>
		<div class="citizen-sticky-header-inner">
			<div class="citizen-sticky-header-start">
				{{>Header__logo}}
				{{>Wordmark}}
				{{#data-sticky-navigation-menu}}
					{{>MainMenu}}
				{{/data-sticky-navigation-menu}}
			</div>
			<div class="citizen-sticky-header-end" aria-hidden="true">
				{{#array-icon-buttons}}
					{{>Button}}
				{{/array-icon-buttons}}
				<div id="citizen-sticky-header-languages" class="citizen-sticky-header-dropdown-container"></div>
				<div id="citizen-sticky-header-more" class="citizen-sticky-header-dropdown-container"></div>
			</div>
		</div>
	</div>
</div>
